@import url("/css/base.css");
@import url("/css/layout.css");
main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-flow: row wrap;
    gap: 1rem;
}
