<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include("../partials/header") %> 
<body>
    <h1>Buscar Cliente</h1>
    <form method="GET">
        <label for="nombre">Nombre:
            <input type="text" id="nombre" name="nombre">
        </label>
        <button type="submit">Buscar</button>
      </form>
    
      <ul>
        <% if (clientes.length === 0) { %>
            <li>No se encontraron clientes.</li>
        <% } else { %>
            <% clientes.forEach(cliente => { %>
                <li><a href="/polizas/nueva/<%= cliente.id %>"><%= cliente.nombre %> <%= cliente.apellido %></a></li>
            <% }); %>
        <% } %>
    </ul>
    
</body>
</html>