<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <header>
            <section id="datosCliente">
                <h2>GOMEZ CORNELIO</h2>
                <h3>Telefono: 2246481147</h3>
                <h3>CUIT: 7423057</h3>
            </section>
            <section id="datosVehiculo">
                <h2>FORD F-250 CHASIS C/CABINA</h2>
                <h3>AÑO: 2015</h3>
                <h3>DOMINIO: TCX549</h3>
            </section>
            <section id="datosCompañia">
                <h2>AGS</h2>
                <h3>COB: A</h3>
            </section>
        </header>
        <main>
            <section class="datosPoliza">
                <h2>VIG. 06/11/2024 - 06/03/2025</h2>
                <h2>N° Poliza: 904723597</h2>
                <h2>Importe: $32000</h2>
                <ul class="cuotas">
                    <li>Cuota N°1</li>
                    <li>Cuota N°2</li>
                    <li>Cuota N°3</li>
                    <li>Cuota N°4</li>
                </ul>
            </section>
            <section class="datosPoliza">
                <h2>VIG. 06/11/2024 - 06/03/2025</h2>
                <h2>N° Poliza: 904723597</h2>
                <h2>Importe: $32000</h2>
                <ul class="cuotas">
                    <li>Cuota N°1</li>
                    <li>Cuota N°2</li>
                    <li>Cuota N°3</li>
                    <li>Cuota N°4</li>
                </ul>
            </section>
        </main>
        <footer>
            <h3>Poliza Entregada</h3>
            <h3>Carnet Entregado</h3>
        </footer>
    </body>
</html>