<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <header>
            <h1>Ingresos</h1>    
            <a href="/caja">Regresar</a>
        </header>
        <form action="/caja/guardar" method="POST">
            <input type="hidden" name="tipo" value="ingreso">
            <fieldset>
                <label for="monto">Monto</label>
                <input type="number" name="monto" id="monto" required min="100">
            </fieldset>
            <fieldset>
                <label for="motivo">Motivo</label>
                <input type="text" name="motivo" id="motivo" list="motivos" minlength="3" required>
                <datalist id="motivos">
                    <% motivos.forEach(motivo => { %>
                        <option value="<%= motivo %>"><%= motivo %></option>
                    <% }) %>
                </datalist>
            </fieldset>
            <fieldset>
                <label for="descripcion">Descripcion</label>
                <textarea name="descripcion" id="descripcion" cols="30" minlength="10" required ></textarea>
            </fieldset>
            <button type="reset">Cancelar</button>
            <button type="submit">Guardar</button>
        </form>
    </main>
</body>
</html>