@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
:root{
    /* Colores */
    --blanco: #FFFFFF;
    --crema: #DEEFE7;
    --gris: #B4BEC9;
    --celeste: #159A9C;
    --azul: #002333;
    --negro: #0D0D0D;
    --rojo: #BF0F0F;
    --verde: #1A5E47;

    /* Fuentes */

    --karla: "Karla", serif;
    --poppins: "Poppins", serif;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--karla);
    box-sizing: border-box;
}