@import url(/css/index.css);
body#body_login{
    display: flex;
    flex-flow: row wrap;
}
main#main_login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

main#main_login h1{
    width: 100%;
    text-align: center;
    font-family: var(--poppins);
    padding: 1rem;
    margin: 1rem;
}
main#main_login form{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 2rem;
    gap: 1rem;
}
main#main_login form fieldset {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: .5rem;
    border: none;
}
main#main_login form fieldset button{
    cursor: pointer;
}
main#main_login form fieldset button#showPassword{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1rem;
    border-radius: 100%;
    background-color: transparent;
    border: none;
}
main#main_login form fieldset button#showPassword span{
    color: var(--celeste);
}
main#main_login form fieldset.input label{
    width: 100%;
}
main#main_login form fieldset.input input{
    width: 90%;
    padding: .3rem;
    border-radius: .2rem;
    border: .1rem solid var(--negro);
    outline: none;
}
main#main_login form fieldset.buttons {
    gap: 2rem;
    justify-content: center;
}
main#main_login form fieldset.buttons button{
    padding: .3rem;
    border-radius: .2rem;
    background-color: transparent;
    transition: all .2s ease-in-out;
}
main#main_login form fieldset.buttons button#cancelar{
    border: .1rem solid var(--rojo);
    color: var(--rojo);
}
main#main_login form fieldset.buttons button#enviar{
    border: .1rem solid var(--verde);
    color: var(--verde);
}
main#main_login form fieldset.buttons button#cancelar:hover{
    background-color: var(--rojo);
    color: var(--blanco);
}
main#main_login form fieldset.buttons button#enviar:hover{
    background-color: var(--verde);
    color: var(--blanco);
}
