<!DOCTYPE html>
<html lang="es">
<head>
    <title>Nuevo Cliente</title>
</head>
<body>
    <%- include("../partials/header") %>
    <h1>Nuevo Cliente</h1>
    <form method="POST" action="/clientes/guardar">
        <fieldset>
            <label for="nombre">Nombre:
            </label>
            <input type="text" id="nombre" name="nombre">
        </fieldset>
        <fieldset>
            <label for="cuit">CUIT:</label>
            <input type="text" id="cuit" name="cuit">
        </fieldset>
        <fieldset>
            <label for="fecha_n">Fecha de Nacimiento:</label>
            <input type="date" id="fecha_n" name="fecha_n">
        </fieldset>
        <fieldset>
            <label for="telefono">Telefono:</label>
            <input type="text" id="telefono" name="telefono">
        </fieldset>
        <fieldset>
            <label for="provincia">Provincia:</label>
            <input type="text" id="provincia" name="provincia">
        </fieldset>
        <fieldset>
            <label for="localidad">Localidad:</label>
            <input type="text" id="localidad" name="localidad">
        </fieldset>
        <fieldset>
            <label for="direccion">Direccion:</label>
            <input type="text" id="direccion" name="direccion">
        </fieldset>
        <fieldset>
            <button type="reset">Cancelar</button>
            <button type="submit">Guardar</button>
        </fieldset>
    </form>
</body>
</html>