<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
</head>
<body>
    <h1>Iniciar Sesion</h1>
    <form action="" method="POST">
        <label for="nombre">Nombre de usuario
            <input type="text" name="nombre" id="nombre">
        </label>
        <label for="contrase単a">Contrase単a
            <input type="password" name="contrase単a" id="contrase単a">
        </label>
        <section id="buttons" class="buttons">
            <button type="reset">Cancelar</button>
            <button type="submit">Ingresar</button>
        </section>
    </form>
</body>
</html>