<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
</head>
<body>
    <h1>Iniciar Sesion</h1>
    <form action="/access" method="POST">
        <label for="nombre">Nombre de usuario</label>
        <input type="text" name="nombre" id="nombre">
        <label for="clave">Contraseña</label>
        <input type="password" name="clave" id="clave">
        <fieldset id="buttons" class="buttons">
            <button type="reset">Cancelar</button>
            <button type="submit">Ingresar</button>
        </fieldset>
    </form>
</body>
</html>