<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %>

    <body id="body_login">
        <main id="main_login">
            <form action="/access" method="POST">
                <h1>Iniciar Sesion</h1>
                <fieldset class="input">
                    <label for="nombre">Nombre de usuario</label>
                    <input type="text" name="nombre" id="nombre">
                </fieldset>
                <fieldset class="input">
                    <label for="clave">Contraseña</label>
                    <input type="password" name="clave" id="clave">
                    <button type="button" id="showPassword"><span class="material-symbols-outlined">visibility</span></button>
                </fieldset>
                <fieldset id="buttons" class="buttons">
                    <button type="submit" id="enviar">Ingresar</button>
                </fieldset>
            </form>
        </main>
        <script>
            const icon = document.getElementsByClassName('material-symbols-outlined');
            document.getElementById("showPassword").addEventListener("click", function () {
                var passwordInput = document.getElementById("clave");
                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                } else {
                    passwordInput.type = "password";
                }
            });
        </script>
    </body>

</html>