<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %>
<body>
    <h1>Iniciar Sesion</h1>
    <form action="/access" method="POST">
        <fieldset class="input">
            <label for="nombre">Nombre de usuario</label>
            <input type="text" name="nombre" id="nombre">
        </fieldset>
        <fieldset class="input">
            <label for="clave">Contraseña</label>
            <input type="password" name="clave" id="clave">
            <button type="button" id="showPassword"><span class="material-symbols-outlined">visibility</span></button>
        </fieldset>
        <fieldset id="buttons" class="buttons">
            <button type="reset" id="cancelar">Cancelar</button>
            <button type="submit" id="enviar">Ingresar</button>
        </fieldset>
    </form>
    <script>
        const icon = document.getElementsByClassName('material-symbols-outlined');
        document.getElementById("showPassword").addEventListener("click", function() {
            var passwordInput = document.getElementById("clave");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        });
    </script>
</body>
</html>