<header id="header" class="header">
    <nav>
        <a href="/clientes">clientes</a>
        <a href="/polizas">Polizas</a>
        <a href="/pagos">pagos</a>
        <a href="/caja">caja</a>
        <a href="/usuarios">Usuarios</a>
    </nav>
    <nav>
        <a href="/perfil">
            <%= user.nombre %> | <%= user.rol %>
        </a>
    </nav>
    <form action="/logout" method="get">
        <button type="submit">Cerrar Sesion</button>
    </form>
</header>