<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login/login.css">
    <link rel="stylesheet" href="/css/clientes/nuevo.css">
    <link rel="stylesheet" href="/css/clientes/clientes.css">
    <link rel="stylesheet" href="/css/clientes/detalle.css">
    <link rel="stylesheet" href="/css/clientes/editar.css">
    <link rel="stylesheet" href="/css/clientes/confirmar.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=visibility" />
    <title>  </title>
</head>