<header id="header" class="header">
    <nav>
        <a href="/clientes">clientes</a>
        <a href="/polizas">Polizas</a>
        <a href="/pagos">pagos</a>
        <a href="/caja">caja</a>
        <a href="/usuarios">Usuarios</a>
    </nav>
    <form action="">
        <label for="">
            <%= user.name %>
        </label>
    </form>
</header>