@import url("/css/base.css");
@import url("/css/layout.css");

main {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: start;
  gap: 1rem;
}

main > header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--crema);
}
main > header h1 {
  color: var(--celeste);
}
main > header a {
  background-color: var(--celeste);
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  color: var(--blanco);
  text-decoration: none;
}

main > article {
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1;
}
main > article ul {
  width: calc(100% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
  overflow-y: scroll;
  max-height: calc(6rem * 2);
  scroll-behavior: smooth;
  scrollbar-width: none;
}
main > article ul li {
  width: calc(100% - 1rem);
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 1rem;
  gap: 0.5rem;
  border: 0.1rem solid var(--negro);
  border-radius: 0.2rem;
}
main > article ul li dl {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
main > article ul li nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main > article ul li a {
  padding: 0.25rem 1.25rem;
  color: var(--blanco);
  background-color: var(--celeste);
  border-radius: 0.2rem;
  align-self: center;
  text-decoration: none;
}

main > article ul li form {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main > article ul li form button {
  padding: 0.25rem 1.25rem;
  color: var(--blanco);
  background-color: var(--rojo);
  border-radius: 0.2rem;
  align-self: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}
