<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nuevo</h1>
    <form action="/usuarios/guardar" method="POST">
        <label for="nombre"> Nombre
            <input type="text" name="nombre" id="nombre">
        </label>
        <label for="contrase単a"> Contrase単a
            <input type="password" name="contrase単a" id="contrase単a">
        </label>
        <select name="permiso" id="permiso">
            <% permisos.forEach(p => { %>
                <option value="<%= p.id %>"><%= p.descripcion %></option>
            <% }) %>
        </select>
        <label for="dni"> DNI
            <input type="text" name="dni" id="dni">
        </label>
        <button type="reset">Cancelar</button>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>