@import url("/css/base.css");
@import url("/css/layout.css");
main{
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
}
main > header{
    width: 100%;
    padding: .5rem;
    background-color: var(--crema);
}
main > header h1 {
    color: var(--celeste);
    text-align: center;
}
main > article{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .5rem;
}
main > article > ul{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    overflow-y: scroll;
    scrollbar-width: none;
    gap: 1rem;
}
main > article > ul > li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 1rem;
    border-radius: .3rem;
    background-color: var(--crema);
}
main > article > ul > li > details ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}
main > article > ul > li a{
    text-decoration: none;
    padding: 0.2rem;
    color: var(--blanco);
    background-color: var(--celeste);
    border-radius: 0.2rem;
    cursor: pointer;
}